<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jarvis.cache.demo.mapper.ClientUpgradeMapper">

  <resultMap id="BaseResultMap" type="com.jarvis.cache.demo.to.ClientUpgrade">
    <id column="ID" property="id" />
    <result column="OS" property="os" />
    <result column="PACKAGE_NAME" property="packageName" />
    <result column="VERSION_CODE" property="versionCode" />
    <result column="VERSION_NAME" property="versionName" />
    <result column="DOWNLOAD_URL" property="downloadUrl" />
    <result column="FORCE_UPGRADE" property="forceUpgrade" />
    <result column="CHANGE_LOG" property="changeLog" />
  </resultMap>
  <sql id="columns">
    ID, OS, PACKAGE_NAME, VERSION_CODE, VERSION_NAME, DOWNLOAD_URL, FORCE_UPGRADE, CHANGE_LOG
  </sql>
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="columns" />
    from CLIENT_UPGRADE
    where ID = #{id}
  </select>
</mapper>